<footer>
	<p>
		Made by OhBeomho<br />
		Source on <a href="https://github.com/OhBeomho/Messagob">GitHub</a><br />
		<a href="https://www.vecteezy.com/free-vector/user-icon">User icon</a>,
		<a href="https://www.vecteezy.com/free-vector/chat-icon">chat icon</a> vectors by
		<a href="https://www.vecteezy.com">Vecteezy</a>
	</p>
</footer>