<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Messagob</title>
</head>
<body>
<!--

	TODO:

	Main page.

	If not logged in, show title (Messagob) and simple description.
	And also login button.

	If logged in, Show chat rooms, friend list, and the dialog that shows room request, friend request list.
	Also chat area (include chat.ejs)

-->	
</body>
</html>